@charset "utf-8";

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, select, p, button {margin:0;padding:0;}
html {font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
html.ie7 {overflow:auto;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;font-size:100%;line-height:1.2;}
a {background:transparent;text-decoration:none;-webkit-tap-highlight-color:transparent;}
a:focus {outline:thin dotted;}
a:active, a:hover {outline:0;}
ul, ol, li {list-style:none;}
b, strong {font-weight:bold;}
i,em,address,optgroup{ font-style:normal;font-weight:normal;}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {display:block;margin:0;padding:0;}
img {border:0;}
[hidden], template {display:none;}
table {border-collapse:collapse;border-spacing:0;}
caption, legend {overflow:hidden;position: absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(0 0 0 0);}
button, input, select, textarea {font-family:inherit;font-size:100%;margin:0;}
button, input {line-height:normal;}
button, select {text-transform:none;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button;background:none;border:0;cursor:pointer;}
input[type="checkbox"], input[type="radio"] {box-sizing:border-box;padding:0;}
input[type="search"] { -webkit-appearance: textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0;padding:0;}
textarea {overflow:auto;vertical-align:top;}

/*
@media print {
    * { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; ;}
    a, a:visited { text-decoration: underline; ;}
    a[href]:after { content: " (" attr(href) ")"; ;}
    abbr[title]:after { content: " (" attr(title) ")"; ;}
    a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; ;}
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; ;}
    thead {display: table-header-group;}
    tr, img { page-break-inside: avoid; ;}
    img { max-width: 100% !important; ;}
    p, h2, h3 { orphans: 3; widows: 3; ;}
    h2, h3 { page-break-after: avoid; ;}
;}

/* custom */
*, *:after, *:before {box-sizing:border-box;-moz-box-sizing:border-box;}
html, button, input, select, textarea {color:#767676;}
html {font-size:1em;line-height:1.4;font-family:'돋움',dotum,Helvetica,sans-serif;direction:ltr;}
audio, canvas, img, svg, video {vertical-align:middle;}
table {width:100%;}
table th {font-weight:normal;}
::-moz-selection {background:#b3d4fc;text-shadow:none;}
::selection {background:#b3d4fc;text-shadow:none;}

/* common */
.browserupgrade {z-index:999;position:relative;padding:30px;color:#fff;text-align:center;background:#666;}
.browserupgrade a {color:#ffff00;text-decoration:underline;}

.blind {width:0;height:0;font-size:0;line-height:0;text-indent:-999px;}

/* content */
.l-wrap {min-width:320px;}

.l-head {width:100%;padding:20px 30px;background:#333;z-index: 30}
.l-head:after {display:block;clear:both;content:"";}
.l-head .head-tit {float:left;font-size:28px;color:#fff;font-family:verdana;}
.l-head .l-tab {float:right;}
.l-head .l-tab ul:after {display:block;clear:both;content:"";}
.l-head .l-tab li {float:left;width:100px;height:30px;margin-left:10px;}
.l-head .l-tab li:first-child {margin-left:0;}
.l-head .l-tab li a {display:block;text-align:center;outline:1px solid #fff;border:1px solid #8c90a1;color:#555;font-family:verdana;font-size:14px;line-height:30px;background:#fff;}
.l-head .l-tab .on a {color:#333;font-weight:bold;background:#f7f7f7;}}
.l-head .l-tab a:hover, .l-head .l-tab a:focus {background:#fff;color:#333;font-weight:bold;}

.l-foot {padding:12px 0;background:#333;text-align:center;color:#fff;font-size:12px;font-family:verdana;}
.l-foot address {margin-bottom:1px;}

.l-container {padding:20px;}
.l-container:after {display:block;clear:both;content:"";}

.l-nav {display:none;float:left;width:20%;border:1px solid #8c90a1;}
.l-nav li {border-top:1px solid #8c90a1;}
.l-nav li:first-child {border-top:none;}
.l-nav li a {display:block;height:35px;padding:0 10px;line-height:35px;color:#555;font-size:13px;font-family:verdana;background:#fff;}
.l-nav .on a {position:relative;color:#333;font-weight:bold;background:#f7f7f7;}
.l-nav .on a:before {content:"";position:absolute;top:0;left:-1px;display:inline-block;width:5px;height:100%;background:#333;}
.l-nav li a:hover, .l-nav li a:focus {color:#333;font-weight:bold;background:#fff;}

.l-content {float:left;width:77%;margin-left:3%;}
.l-content.listpage {float:none;width:100%;margin-left:0;}
.sub-con:after {display:block;clear:both;content:"";}
.sub-con + .sub-con {margin-top:40px;}
.sub-con h3 {display:block;padding-bottom:5px;border-bottom:1px solid #333;font-weight:bold;font-size:17px;color:#333;}
.sub-con strong {display:block;margin-top:30px;font-weight:bold;font-size:13px;}
.sub-con strong:after {display:block;float:left;padding-right:5px;content:"-";}
.sub-con em {display:block;margin-top:15px;color:#e01b22;font-size:12px;}
.sub-con em:after {display:block;float:left;padding-right:5px;content:"※";}
.sub-con p {margin-top:5px;font-size:12px;}
.sub-con h3 + p {margin-top:30px;}
.sub-con textarea {width:100%;height:150px;margin-top:20px;padding:10px 10px 0;font-size:12px;}
.sub-con .code {margin-top:20px;}

.sub-con .sub-tbl {margin-top:5px;border:1px solid #8c90a1;font-size:12px;}
.sub-con .sub-tbl th {padding:5px;border-top:1px solid #8c90a1;background:#f7f7f7;}
.sub-con .sub-tbl td {padding:5px 10px;border-top:1px solid #8c90a1;border-left:1px solid #8c90a1;}
.sub-con .sub-tbl tr:first-child th, .sub-con .sub-tbl tr:first-child td {border-top:none;}

@media all and (max-width: 640px) {
    .l-head .head-tit {float:none;}
    .l-head .l-tab {float:none;margin-top:20px;}
    .l-nav {width:100%;margin-bottom:30px;border:none;border-top:1px solid #333;border-left:1px solid #333;}
    .l-nav ul:after {display:block;clear:both;content:"";}
    .l-nav li {float:left;width:50%;border-right:1px solid #333;border-top:none;border-bottom:1px solid #333;}
    .l-nav li:first-child + li {border-top:none;}
    .l-content {width:100%;margin-left:0;}
}

@media all and (max-width: 768px) {
    .l-head {position:relative;}
    .l-container {margin-top:0;padding:10px;}

}

.l-list {font-size:12px;}
.l-list .col {padding:5px 10px;text-align:left;}
.l-list .col-no {width:40px;}
.l-list .col-1 {}
.l-list .col-2 {}
.l-list .col-3 {}
.l-list .col-4 {}
.l-list .col-5 {}
.l-list .col-url {width:220px;}
.l-list .col-state {width:50px}
.l-list .col-etc {}

.list-info {margin:10px;}
.list-head {display:table;width:100%;table-layout: fixed;border-collapse: collapse;}
.list-head .col {display:table-cell;padding:7px 0;background:#666;border-left:1px solid #fff;text-align:center;color:#fff;}

.list-body {display:table;width:100%;table-layout: fixed;border-collapse: collapse;}
.list-sch {margin:10px;}
.list-sch_txt {width:100%;max-width:300px;height:30px;border:1px solid #ccc;text-align:left;}
.list-item {display:table-row}
.list-item:hover {background:#f9f9f9}
.list-item .col {display:table-cell;padding:5px 10px;border:1px #c4c4c4 solid;}
.list-item .col-no,
.list-item .col-state,
.list-item .col-url {text-align:center;}
.list-item .col-url a {color:#e01b22}


@media screen and (max-width:767px){
    .list-head {display:none;}
    .list-body {display:block;}
    .list-item {display:block;border-top:1px solid #333;padding:10px;}
    .list-item .col {display:block;width:100%;padding:0;border:none;}
    .list-item:nth-child(odd) {background:#f9f9f9}
    .list-item .col-no {display:inline;text-align:left;}
    .list-item .col-state {text-align:right;}
    .list-item .col-1,
    .list-item .col-2,
    .list-item .col-3,
    .list-item .col-4,
    .list-item .col-5 {display:inline;}
    .list-item .col-etc {text-decoration:underline;}
    .list-item .col:before{
        content:" > ";
    }
    .list-item .col-no:before,
    .list-item .col-url:before,
    .list-item .col-state:before,
    .list-item .col-etc:before{
        display:none;
    }
    .list-item .col:empty {display:none;}
    .list-item .col:empty:after {display:none;}
    .list-item .col-url {margin:10px 0;text-align:left;}
    .list-item .col-url:before {content:"파일명 : ";display:inline;}
    .list-item .col-state {color:red;}
}

@media print {
    @page {
        size: landscape;
        margin: 2mm;
    }
    a, a:visited { color:#333; text-decoration: underline; }
    /*a[href]:after { content: " (" attr(href) ")";font-size:9; }*/
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    li, tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    .l-list {font-size:10pt;}
    .list-sch {margin:0;}
    .list-sch_txt {display:none;}
    .list-head {background:#666;}
    .list-head .col {color:#666;border:1pt solid #ddd !important;}
    .list-item .col {padding:2px;border:1pt solid #ddd !important;border-collapse: separate;border-spacing: 0;}
}